*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;    
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('hehe.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    align-items: center;
    position: absolute;
    top: 75%;   
}
.headings{
    font-family: century;
    font-size: none;
    text-align: center;
    margin: 20px 0px;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#home img{
    display: flex;
}


#home img{
    width: 575px;
    height: 400px;
}
#about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#about h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;

}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
/* Services Section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(225,45,45) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(225,45,45);
}
.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}
#send{
    padding: 10px;
    width: 10px;
    margin: 40px;
    border: none;
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

/* Blog */
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: #f33c3c;
}
.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.blog-box{
    width: 350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #f33c3c;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text .blog-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.blog-text{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;   
}
.blog-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
@media(max-width:1250px){
    .blog-box{
        width: 300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px;
    }
}
.resume{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.resume {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: skyblue;
  box-shadow: 0 0 10px white;
}


.resume img{
    width: 200x;
    height: 200px;
}

header {
  text-align: center;
  border-bottom: 1px solid #fffafa;
  margin-bottom: 20px;
  
}
img{
  size: 10px;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

section {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}

.job, .education {
  margin-bottom: 20px;
}

.job h3, .education h3 {
  margin: 5px 0;
}

.job h4, .education h4 {
  margin: 5px 0;
  font-weight: normal;
}

.skills {
  list-style: none;
  padding: 0;
}

.skills li {
  background: white;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}
button {
  outline: none;
  cursor: pointer;
 border-radius: 40%;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  background: skyblue;
  color: skyblue;
  text-align: center;
 }
 
 button a {
  position: relative;
  z-index: 10;
  transition: color 0.4s;

 }
 
 button:hover a{
  color: skyblue;
  text-align: center;
 }
 
 button::before,
 button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
 }
 
 button::before {
  content: "";
  background: white;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
 }
 
 button:hover::before {
  transform: translate3d(100%, 0, 0);
 }

.testimonials{
    margin: 0;
    padding: 0;
    font-family: "montserrat" , sans-serif;
}
.testimonials{
    padding: 40px o;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonials{
    background: #fff;
    padding: 30px;
}
.testimonials img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars{
    color: #6ab04c;
    margin-bottom: 20px;
}

@media screen and (max-width:600px){
    .col{
        flex: 100%;
        max-width: 100%;
    }
}
#accordion{
    margin: 100px auto;
    width: 600px;
}
#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #c20000;
}
#accordion li label span{
    transform: rotate(90deg);
    font-size: 22px;
    color: #333;
}
#accordion label + input[type="radio"]{
    display: none;    
}
#accordion .content{
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#accordion label + input[type="radio"]:checked + .content{
    max-height: 400px;
}