/* Navbar */
.navbar ul{
    flex-wrap: wrap;
    justify-content: center;
}

/* headings */
.headings{
    font-size: 2.5rem;    
}

/* About */
#home{
    flex-direction: column;
    align-items: center;
}
#home img{
    width: 475px;
    height: 300px;
}
#about h2{
    text-align: center;
    padding: 10px;
}

/* Contact */
.input{
    width: 60%; 
}
#msg{
    width: 55%;
}
#send{
    width: 20%;
}
.resume{
    flex-wrap: wrap;
    justify-content: center;
}